* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png");
  background-position: center;
  background-size: cover;
}

#main {
  padding-left: 5%;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 90px;
  color: #e50914;
}

.login-head {
  margin: auto;
}

.login {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: auto;
  max-width: 400px;
  height: 500px;
  color: aliceblue;
  border: 2px solid black;
  text-align: center;
}

.head {
  margin-top: 30px;
  padding-right: 45%;
}

.mail {
  width: 75%;
  height: 3em;
  color: aliceblue;
}

button {
  width: 75%;
  height: 3em;
  background-color: red;
  color: aliceblue;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

.help {
  margin-bottom: 30px;
  position: relative;
}

.div1 {
  position: absolute;
  right: 13%;
}

.div2 {
  position: absolute;
  left: 13%;
}

.a1 {
  color: white;
  font-size: 12px;
}

.a1:link {
  text-decoration: none;
}

.a1:hover {
  text-decoration: underline;
}

label {
  font-size: 12px;
}

.last {
  margin: auto;
}

.a2 {
  color: gray;
  font-size: 14px;
}
